.mm-black {
  background-color: #1B1D1F !important;
}

.mm-black-text {
  color: #1B1D1F !important;
}

.mm-white {
  background-color: #DEDEDE !important;
}

.mm-white-text {
  color: #DEDEDE !important;
}

.mm-dark_black {
  background-color: #0E0E0F !important;
}

.mm-gold {
  background-color: #EAC359 !important;
}

.mm-gold-text {
  color: #EAC359 !important;
}

.mm-platin {
  background-color: #CCCBC9 !important;
}

.mm-platin-text {
  color: #CCCBC9 !important;
}

.mm-rosegold {
  background-color: #dab8a9 !important;
}

.mm-rosegold-text {
  color: #dab8a9 !important;
}

.mm-delicious {
  background-color: #9a6651 !important;
}

.mm-delicious-text {
  color: #9a6651 !important;
}

.mm-walnut {
  background-color: #bca594 !important;
}

.mm-walnut-text {
  color: #bca594 !important;
}
