.mm-black {
  background-color: #1B1D1F !important;
}

.mm-black-text {
  color: #1B1D1F !important;
}

.mm-white {
  background-color: #DEDEDE !important;
}

.mm-white-text {
  color: #DEDEDE !important;
}


.mm-dark_black {
  background-color: #0E0E0F !important;
}

.mm-gold {
  background-color: #EAC359 !important;
}

.mm-gold-text {
  color: #EAC359 !important;
}

.mm-platin {
  background-color: #CCCBC9 !important;
}
